<main id="projects">
  <h1 class="lg-heading">My
    <span class="text-secondary">Works</span>
  </h1>
  <h2 class="sm-heading">Checkout some of my projects...</h2>
  <div class="projects">
    <div class="item" *ngFor="let work of works">
      <a href="{{work.url}}" target="_balank">
        <img [src]="work.thumbUrl" alt="Project">
      </a>
      <a href="{{work.url}}" target="_balank" class="btn-light">
        <i class="fa fa-eye"></i> {{work.caption}}
      </a>
      <a *ngIf="work.githubUrl" href="{{work.githubUrl}}" class="btn-dark">
        <i class="fa fa-github"></i> {{ work.caption}}
      </a>
    </div>
  </div>

  <se-skills [skills]="skills"></se-skills>

</main>



<se-footer></se-footer>
