<main id="about">
  <h1 class="lg-heading">About
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">Let me tell you a few things...</h2>
  <div class="about-info">
    <img src="assets/img/large-bw.jpg" alt="John Doe" class="bio-image">
    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ipsum suscipit facere, error iste tenetur odio voluptate
        delectus ducimus quae, eius magni facilis minus. Magnam consectetur sit possimus maxime quos?
      </p>
    </div>
    <div class="job" *ngFor="let exp of experiences">
      <h3>{{exp.title}}</h3>
      <h6>{{exp.department}}</h6>
      <p>
        {{exp.description}}
      </p>
    </div>
    
  </div>

</main>

<se-footer></se-footer>